@import "//fonts.googleapis.com/css?family=Inconsolata|Josefin+Sans";

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

/* Headings */
h1, h2, {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #2E2E2E;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
  font-family: "Inconsolata", sans-serif;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
  letter-spacing: -2px;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: -1px;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}
