h1.brand {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 0;
  font-size: 3rem;
  line-height: 1em;
  margin-bottom: 5px;

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

section {
  h2 {
    text-transform: lowercase;
  }

  &.with-separator {
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid $c-grey;

    &:after {
      position: absolute;
      content: " ";
      width: 5px;
      height: 5px;
      border: 1px solid $c-grey;
      border-radius: 50%;
      left: 50%;
      margin-left: -3px;
      bottom: -4px;
      background: white;
    }
  }
}

img.photo {
  width: 200px;
  padding: 5px;
  margin: 30px auto;

  border: 1px solid $c-grey;
  border-radius: 10%;
  background-color: white;
}
