h1.brand {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 0;
  font-size: 3rem;
  line-height: 95px;

  padding-top: 5px;
  margin-bottom: 5px;

  @media (max-width: $mobile-width) {
    font-size: 2rem;
    line-height: 1em;
  }
}

section {
  h2 {
    text-transform: lowercase;
  }

  &.title {
    margin-top: 30px;
  }

  &.contact {
    margin-bottom: 60px;
  }

  &.with-separator {
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid $c-grey;

    &:after {
      position: absolute;
      content: " ";
      width: 5px;
      height: 5px;
      border: 1px solid $c-grey;
      border-radius: 50%;
      left: 50%;
      margin-left: -3px;
      bottom: -4px;
      background: white;
    }

    @media (max-width: $mobile-width) {
      padding-bottom: 13px;
      margin-bottom: 25px;
    }
  }
}

img.photo {
  width: 100px;
  padding: 2px;
  float: left;

  border: 1px solid $c-grey;
  border-radius: 50%;
  background-color: white;

  @media (max-width: $mobile-width) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
